#main {
    background-color: rgb(36, 76, 77);
    background-color: rgb(36, 76, 77); /* For browsers that do not support gradients */
    background-image: radial-gradient(circle, rgb(36, 76, 77), rgb(72, 70, 70));
    font-family: Arial, Helvetica, sans-serif;
}


#title {
    text-align: center;
    color:rgb(212, 236, 238);
    font-family: 'Courier New', Courier, monospace;
}
#subtitle {
    text-align: center;
    color:rgb(212, 236, 238);
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    font-style: italic;
}
p {
    font-size: 30px;
    color:rgb(238, 234, 234);
    padding-left: 2rem;
    padding-right: 2rem;
}
#name, #email, #number{
    height: 50px;
    width: 50vw;
    margin-left: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
input::placeholder{
    font-size: 20px;
}
#submit, #dropdown {
    font-size: 20px;
}
#dropdown {
    margin-left: 2rem;
}
#bird-owl {
    
    padding-left: 3rem;
    padding-right: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-style: italic;
    color:rgb(238, 234, 234);
}
#snacks {
    padding-left: 3rem;
    padding-right: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-style: italic;
    color:rgb(238, 234, 234);
}
#snacks label, #bird-owl label {
    display:flex;
    align-items: center;
    }

textarea {
    margin-left: 2rem;
    margin-right: 2rem;
}
button {
    margin: 3rem;
}
@media (min-width: 1100px) {
    #name, #email, #number{
        height: 50px;
        width: 25vw;
    }
    p{
        padding-left: 30rem;
        padding-right: 30rem;
    }
    #snacks, #bird-owl {
        padding-left: 32rem;
    }
    textarea, #dropdown, #name, #email, #number, #submit {
        margin-left: 30rem;
    }
    }

@media (max-width: 1000px) {
    #main {
        width: 100%;
        
    }
}
@media (max-width: 700px) {
    #main {
        width: 100%;
        
    }
    
}
