#main {
    background-color: rgb(36, 76, 77);
    
}
#title {
    text-align: center;
    color:floralwhite;
    font-family: fantasy;
}
#subtitle {
    text-align: center;
    color:floralwhite;
    font-family: fantasy;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    font-style: italic;
}
p {
    font-size: 30px;
    color:rgb(238, 234, 234);
    padding-left: 2rem;
    padding-right: 2rem;
}
#name, #email, #number{
    height: 50px;
    width: 50vw;
    margin-left: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
#dropdown {
    margin-left: 2rem;
}
#bird-owl {
    
    padding-left: 3rem;
    padding-right: 2rem;
    font-size: 25px;
    font-style: italic;
    color:rgb(238, 234, 234);
}
#snacks {
    padding-left: 3rem;
    padding-right: 2rem;
    font-size: 25px;
    font-style: italic;
    color:rgb(238, 234, 234);
}
#snacks label {
    display:flex;
    align-items: center;
    }

textarea {
    margin-left: 2rem;
    margin-right: 2rem;
}
button {
    margin: 3rem;
}
@media (min-width: 1100px) {
    #name, #email, #number{
        height: 50px;
        width: 25vw;
    }
    p{
        padding-left: 20rem;
    }
    #snacks, #bird-owl {
        padding-left: 22rem;
    }
    textarea, #dropdown, #name, #email, #number {
        margin-left: 20rem;
    }
    }

@media (max-width: 1000px) {
    #main {
        width: 100%;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}
@media (max-width: 700px) {
    #main {
        width: 100%;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    
}
