body {
    background-color: #EEEBDD;
    font-family: sans-serif;
}
h1 {
    color: rgb(119, 92, 43);
    font-family: "Jost", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    padding: 15% 10% 3%;
}
h2 {
    padding: 6% 0%;
    font-family: "Exo", sans-serif;
    color: rgb(119, 92, 43);
}
h3 {
    
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.75;
    color: rgb(119, 92, 43);
    
}

p {
    color: rgba(0,0,0,.55);
}
a {
    color:#EEEBDD;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.55);
}
.navbar {
    padding: 0;

}

.navbar-brand {
    
    font-size: 2rem;
    font-weight: bold;
    font-family: "Exo", sans-serif;

}

.navbar-light .navbar-nav .nav-link {
    color: #ad6331;
    font-size: 1.5rem;
    
}
.container-fluid {
    background-color: #EEEBDD;
    position: fixed;
    padding: 7% 15% 1%;

}
.navbar-collapse {
    flex-grow: 0;
}
.nav-item {
    padding: 0 18px;
    
}

.row {
    padding: 5% 14% 10% 12%;
    margin-right: 0;
}
.home-img {
    border-radius: 50%;
    margin-top: 35px;
    
}
#services-heading {
    font-family: "Exo", sans-serif;
    text-align: left;
    padding: 10% 15% 0 13.5%;
}
.service {
    padding: 3% 7%;
}

.about-block {
    padding: 10% 15%;
}
.about-img {
    border-radius: 50%;
}
.about-copy {
    padding: 7% 10% 3%;
}
.sparkle-icon {
    padding: 2rem 0;
}

.white-block {
    background-color: white;
    
}
.copy {
        padding: 10% 16%;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        line-height: 1.5;
}
.col-lg-4 {
    padding: 0 3%;
}

.cta {
        padding: 10% 16%;
        font-size: 2rem;
        font-weight: 300;
        color: rgb(119, 92, 43);
        text-align: center;
        line-height: 1.5;
        
}
p.copyright {
    color: #EEEBDD;
}
footer {
    text-align: center;
    color: white;
    font-size: 1rem;;
    background-color: rgb(166, 149, 127);
    padding: 5% 0;
}


@media (max-width: 1200px) {
    body {
        text-align: center;
    }
    h1, h2, h3 {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.5rem;
    }
    img.logo {
        width: 12%;
    }
    a.navbar-brand {
        font-size: 1.4rem;

    }

    .body-img {
        width: 75%;
        text-align: center;
    }

    .service {
        text-align: left;
    }

    .container-fluid {
        padding: 10% 15% 1%;
        position: relative;
    }

    p.copyright {
        font-size: 1rem;
    }
}


